In [1]:
import pyforest
import numpy as np
import pandas as pd
from pandas_profiling import ProfileReport
import matplotlib.pyplot as plt
%matplotlib inline
# from autoviz.AutoViz_Class import AutoViz_Class
import seaborn as sns
import missingno as msno

import bs4 as bs
import requests

import scipy.stats as stats
import keras as ks
# import tensorflow as tf
import cv2 as cv

import re
import os
import datetime
import random
import time

import warnings
warnings.filterwarnings('ignore')

pd.set_option('display.max_columns', None)
pd.set_option('display.float_format', lambda x: '%.2f' % x)
sns.set(style='whitegrid', color_codes=True, font_scale=1.5, palette='plasma', font='Arial', rc={'figure.figsize':(8,6)})

In [2]:
!pip install yfinance

Requirement already satisfied: yfinance in c:\users\hp\anaconda3\lib\site-packages (0.1.69)
Requirement already satisfied: lxml>=4.5.1 in c:\users\hp\anaconda3\lib\site-packages (from yfinance) (4.6.3)
Requirement already satisfied: pandas>=0.24 in c:\users\hp\anaconda3\lib\site-packages (from yfinance) (1.2.5)
Requirement already satisfied: requests>=2.26 in c:\users\hp\anaconda3\lib\site-packages (from yfinance) (2.26.0)
Requirement already satisfied: numpy>=1.15 in c:\users\hp\anaconda3\lib\site-packages (from yfinance) (1.20.3)
Requirement already satisfied: multitasking>=0.0.7 in c:\users\hp\anaconda3\lib\site-packages (from yfinance) (0.0.10)
Requirement already satisfied: pytz>=2017.3 in c:\users\hp\anaconda3\lib\site-packages (from pandas>=0.24->yfinance) (2021.3)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\hp\anaconda3\lib\site-packages (from pandas>=0.24->yfinance) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\hp\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas>=0.24->yfinance) (1.16.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\hp\anaconda3\lib\site-packages (from requests>=2.26->yfinance) (1.26.7)
Requirement already satisfied: idna<4,>=2.5 in c:\users\hp\anaconda3\lib\site-packages (from requests>=2.26->yfinance) (3.2)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\hp\anaconda3\lib\site-packages (from requests>=2.26->yfinance) (2021.10.8)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\hp\anaconda3\lib\site-packages (from requests>=2.26->yfinance) (2.0.4)

WARNING: Ignoring invalid distribution -andas (c:\users\hp\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -andas (c:\users\hp\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -andas (c:\users\hp\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -andas (c:\users\hp\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -andas (c:\users\hp\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -andas (c:\users\hp\anaconda3\lib\site-packages)

In [3]:
import yfinance as yf

msft = yf.Ticker("MSFT")
msft

yfinance.Ticker object <MSFT>

In [4]:
# get stock info
obj = msft.info
obj

{'zip': '98052-6399',
 'sector': 'Technology',
 'fullTimeEmployees': 181000,
 'longBusinessSummary': 'Microsoft Corporation develops, licenses, and supports software, services, devices, and solutions worldwide. Its Productivity and Business Processes segment offers Office, Exchange, SharePoint, Microsoft Teams, Office 365 Security and Compliance, and Skype for Business, as well as related Client Access Licenses (CAL); Skype, Outlook.com, OneDrive, and LinkedIn; and Dynamics 365, a set of cloud-based and on-premises business solutions for organizations and enterprise divisions. Its Intelligent Cloud segment licenses SQL, Windows Servers, Visual Studio, System Center, and related CALs; GitHub that provides a collaboration platform and code hosting service for developers; and Azure, a cloud platform. It also offers support services and Microsoft consulting services to assist customers in developing, deploying, and managing Microsoft server and desktop solutions; and training and certification on Microsoft products. Its More Personal Computing segment provides Windows original equipment manufacturer (OEM) licensing and other non-volume licensing of the Windows operating system; Windows Commercial, such as volume licensing of the Windows operating system, Windows cloud services, and other Windows commercial offerings; patent licensing; Windows Internet of Things; and MSN advertising. It also offers Surface, PC accessories, PCs, tablets, gaming and entertainment consoles, and other devices; Gaming, including Xbox hardware, and Xbox content and services; video games and third-party video game royalties; and Search, including Bing and Microsoft advertising. It sells its products through OEMs, distributors, and resellers; and directly through digital marketplaces, online stores, and retail stores. It has collaborations with Dynatrace, Inc., Morgan Stanley, Micro Focus, WPP plc, ACI Worldwide, Inc., and iCIMS, Inc., as well as strategic relationships with Avaya Holdings Corp. and wejo Limited. Microsoft Corporation was founded in 1975 and is based in Redmond, Washington.',
 'city': 'Redmond',
 'phone': '425 882 8080',
 'state': 'WA',
 'country': 'United States',
 'companyOfficers': [],
 'website': 'https://www.microsoft.com',
 'maxAge': 1,
 'address1': 'One Microsoft Way',
 'industry': 'Softwareâ€”Infrastructure',
 'ebitdaMargins': 0.48648998,
 'profitMargins': 0.38515,
 'grossMargins': 0.68864995,
 'operatingCashflow': 81945001984,
 'revenueGrowth': 0.22,
 'operatingMargins': 0.42143002,
 'ebitda': 85745000448,
 'targetLowPrice': 299.93,
 'recommendationKey': 'buy',
 'grossProfits': 115856000000,
 'freeCashflow': 49819750400,
 'targetMedianPrice': 370,
 'currentPrice': 309.99,
 'earningsGrowth': 0.489,
 'currentRatio': 2.165,
 'returnOnAssets': 0.14589,
 'numberOfAnalystOpinions': 43,
 'targetMeanPrice': 371.23,
 'debtToEquity': 51.938,
 'returnOnEquity': 0.49303,
 'targetHighPrice': 425,
 'totalCash': 130584002560,
 'totalDebt': 78934999040,
 'totalRevenue': 176250994688,
 'totalCashPerShare': 17.393,
 'financialCurrency': 'USD',
 'revenuePerShare': 23.395,
 'quickRatio': 1.961,
 'recommendationMean': 1.7,
 'exchange': 'NMS',
 'shortName': 'Microsoft Corporation',
 'longName': 'Microsoft Corporation',
 'exchangeTimezoneName': 'America/New_York',
 'exchangeTimezoneShortName': 'EST',
 'isEsgPopulated': False,
 'gmtOffSetMilliseconds': '-18000000',
 'quoteType': 'EQUITY',
 'symbol': 'MSFT',
 'messageBoardId': 'finmb_21835',
 'market': 'us_market',
 'annualHoldingsTurnover': None,
 'enterpriseToRevenue': 12.628,
 'beta3Year': None,
 'enterpriseToEbitda': 25.958,
 '52WeekChange': 0.3483131,
 'morningStarRiskRating': None,
 'forwardEps': 10.55,
 'revenueQuarterlyGrowth': None,
 'sharesOutstanding': 7507979776,
 'fundInceptionDate': None,
 'annualReportExpenseRatio': None,
 'totalAssets': None,
 'bookValue': 20.242,
 'sharesShort': 39382126,
 'sharesPercentSharesOut': 0.0052,
 'fundFamily': None,
 'lastFiscalYearEnd': 1625011200,
 'heldPercentInstitutions': 0.71810997,
 'netIncomeToCommon': 67882999808,
 'trailingEps': 8.939,
 'lastDividendValue': 0.62,
 'SandP52WeekChange': 0.17640221,
 'priceToBook': 15.314198,
 'heldPercentInsiders': 0.00062,
 'nextFiscalYearEnd': 1688083200,
 'yield': None,
 'mostRecentQuarter': 1632960000,
 'shortRatio': 1.35,
 'sharesShortPreviousMonthDate': 1638230400,
 'floatShares': 7501148182,
 'beta': 0.862138,
 'enterpriseValue': 2225746739200,
 'priceHint': 2,
 'threeYearAverageReturn': None,
 'lastSplitDate': 1045526400,
 'lastSplitFactor': '2:1',
 'legalType': None,
 'lastDividendDate': 1637107200,
 'morningStarOverallRating': None,
 'earningsQuarterlyGrowth': 0.476,
 'priceToSalesTrailing12Months': 13.205024,
 'dateShortInterest': 1640908800,
 'pegRatio': 2.04,
 'ytdReturn': None,
 'forwardPE': 29.382936,
 'lastCapGain': None,
 'shortPercentOfFloat': 0.0052,
 'sharesShortPriorMonth': 40876626,
 'impliedSharesOutstanding': None,
 'category': None,
 'fiveYearAverageReturn': None,
 'previousClose': 303.33,
 'regularMarketOpen': 309.07,
 'twoHundredDayAverage': 292.1052,
 'trailingAnnualDividendYield': 0.007582501,
 'payoutRatio': 0.25059998,
 'volume24Hr': None,
 'regularMarketDayHigh': 311.6494,
 'navPrice': None,
 'averageDailyVolume10Day': 39379780,
 'regularMarketPreviousClose': 303.33,
 'fiftyDayAverage': 329.6524,
 'trailingAnnualDividendRate': 2.3,
 'open': 309.07,
 'toCurrency': None,
 'averageVolume10days': 39379780,
 'expireDate': None,
 'algorithm': None,
 'dividendRate': 2.48,
 'exDividendDate': 1644969600,
 'circulatingSupply': None,
 'startDate': None,
 'regularMarketDayLow': 307.47,
 'currency': 'USD',
 'trailingPE': 34.678375,
 'regularMarketVolume': 14839120,
 'lastMarket': None,
 'maxSupply': None,
 'openInterest': None,
 'marketCap': 2327398580224,
 'volumeAllCurrencies': None,
 'strikePrice': None,
 'averageVolume': 28782274,
 'dayLow': 307.47,
 'ask': 310.77,
 'askSize': 800,
 'volume': 14839120,
 'fiftyTwoWeekHigh': 349.67,
 'fromCurrency': None,
 'fiveYearAvgDividendYield': 1.39,
 'fiftyTwoWeekLow': 222.42,
 'bid': 310.54,
 'tradeable': False,
 'dividendYield': 0.0082,
 'bidSize': 900,
 'dayHigh': 311.6494,
 'regularMarketPrice': 309.99,
 'preMarketPrice': 309.49,
 'logo_url': 'https://logo.clearbit.com/microsoft.com',
 'trailingPegRatio': 2.9113}

In [5]:


# get historical market data
hist = msft.history(period="max")
hist

             Open   High    Low  Close      Volume  Dividends  Stock Splits
Date
1986-03-13   0.06   0.06   0.06   0.06  1031788800       0.00          0.00
1986-03-14   0.06   0.06   0.06   0.06   308160000       0.00          0.00
1986-03-17   0.06   0.07   0.06   0.06   133171200       0.00          0.00
1986-03-18   0.06   0.07   0.06   0.06    67766400       0.00          0.00
1986-03-19   0.06   0.06   0.06   0.06    47894400       0.00          0.00
...           ...    ...    ...    ...         ...        ...           ...
2022-01-13 320.47 320.88 304.00 304.80    45366000       0.00          0.00
2022-01-14 304.25 310.82 303.75 310.20    39823500       0.00          0.00
2022-01-18 304.07 309.80 301.74 302.65    42333200       0.00          0.00
2022-01-19 306.29 313.91 302.70 303.33    45852200       0.00          0.00
2022-01-20 309.07 311.65 307.47 309.92    14852921       0.00          0.00

[9039 rows x 7 columns]

In [6]:
# show actions (dividends, splits)
msft.actions

            Dividends  Stock Splits
Date
1987-09-21       0.00          2.00
1990-04-16       0.00          2.00
1991-06-27       0.00          1.50
1992-06-15       0.00          1.50
1994-05-23       0.00          2.00
...               ...           ...
2020-11-18       0.56          0.00
2021-02-17       0.56          0.00
2021-05-19       0.56          0.00
2021-08-18       0.56          0.00
2021-11-17       0.62          0.00

[81 rows x 2 columns]

In [7]:
# show dividends
msft.dividends

Date
2003-02-19   0.08
2003-10-15   0.16
2004-08-23   0.08
2004-11-15   3.08
2005-02-15   0.08
             ...
2020-11-18   0.56
2021-02-17   0.56
2021-05-19   0.56
2021-08-18   0.56
2021-11-17   0.62
Name: Dividends, Length: 72, dtype: float64

In [8]:
# show splits
msft.splits

Date
1987-09-21   2.00
1990-04-16   2.00
1991-06-27   1.50
1992-06-15   1.50
1994-05-23   2.00
1996-12-09   2.00
1998-02-23   2.00
1999-03-29   2.00
2003-02-18   2.00
Name: Stock Splits, dtype: float64

In [9]:
# show financials
msft.financials
msft.quarterly_financials

,2021-09-30,2021-06-30,2021-03-31,2020-12-31
Research Development,5599000000.00,5687000000.00,5204000000.00,4899000000.00
Effect Of Accounting Charges,None,None,None,None
Income Before Tax,20524000000.00,19405000000.00,17236000000.00,18337000000.00
Minority Interest,None,None,None,None
Net Income,20505000000.00,16458000000.00,15457000000.00,15463000000.00
Selling General Administrative,5834000000.00,7379000000.00,6409000000.00,6086000000.00
Gross Profit,31671000000.00,32161000000.00,28661000000.00,28882000000.00
Ebit,20238000000.00,19095000000.00,17048000000.00,17897000000.00
Operating Income,20238000000.00,19095000000.00,17048000000.00,17897000000.00
Other Operating Expenses,None,None,None,None
Interest Expense,-535000000.00,-549000000.00,-628000000.00,-568000000.00
Extraordinary Items,None,None,None,None
Non Recurring,None,None,None,None
Other Items,None,None,None,None
Income Tax Expense,19000000.00,2947000000.00,1779000000.00,2874000000.00
Total Revenue,45317000000.00,46152000000.00,41706000000.00,43076000000.00
Total Operating Expenses,25079000000.00,27057000000.00,24658000000.00,25179000000.00
Cost Of Revenue,13646000000.00,13991000000.00,13045000000.00,14194000000.00
Total Other Income Expense Net,286000000.00,310000000.00,188000000.00,440000000.00
Discontinued Operations,None,None,None,None
Net Income From Continuing Ops,20505000000.00,16458000000.00,15457000000.00,15463000000.00
Net Income Applicable To Common Shares,20505000000.00,16458000000.00,15457000000.00,15463000000.00

In [10]:
# show major holders
msft.major_holders

        0                                      1
0   0.06%        % of Shares Held by All Insider
1  71.81%       % of Shares Held by Institutions
2  71.86%        % of Float Held by Institutions
3    5387  Number of Institutions Holding Shares

In [11]:
# show institutional holders
msft.institutional_holders

,Holder,Shares,Date Reported,% Out,Value
0,"Vanguard Group, Inc. (The)",613781686,2021-09-29,0.08,173037332917
1,Blackrock Inc.,507117032,2021-09-29,0.07,142966433661
2,State Street Corporation,294432926,2021-09-29,0.04,83006530497
3,"FMR, LLC",215731468,2021-09-29,0.03,60819015458
4,Price (T.Rowe) Associates Inc,197579453,2021-09-29,0.03,55701599389
5,"Geode Capital Management, LLC",126079812,2021-09-29,0.02,35544420599
6,Capital World Investors,110359787,2021-09-29,0.01,31112631151
7,Capital Research Global Investors,94282634,2021-09-29,0.01,26580160177
8,Capital International Investors,91901445,2021-09-29,0.01,25908855374
9,Northern Trust Corporation,89592127,2021-09-29,0.01,25257812443

In [12]:
# show balance sheet
msft.balance_sheet
msft.quarterly_balance_sheet

,2021-09-30,2021-06-30,2021-03-31,2020-12-31
Intangible Assets,7794000000.00,7800000000.00,8127000000.00,6555000000.00
Total Liab,183440000000.00,191791000000.00,174374000000.00,173901000000.00
Total Stockholder Equity,151978000000.00,141988000000.00,134505000000.00,130236000000.00
Other Current Liab,52622000000.00,52612000000.00,40069000000.00,39926000000.00
Total Assets,335418000000.00,333779000000.00,308879000000.00,304137000000.00
Common Stock,83751000000.00,83111000000.00,82308000000.00,81896000000.00
Other Current Assets,12982000000.00,13471000000.00,12034000000.00,12748000000.00
Retained Earnings,66944000000.00,57055000000.00,50735000000.00,44973000000.00
Other Liab,30157000000.00,31681000000.00,31601000000.00,31585000000.00
Good Will,50455000000.00,49711000000.00,49698000000.00,44219000000.00
Treasury Stock,1283000000.00,1822000000.00,1462000000.00,3367000000.00
Other Assets,21103000000.00,15075000000.00,14427000000.00,13561000000.00
Cash,19165000000.00,14224000000.00,13702000000.00,14432000000.00
Total Current Liabilities,80528000000.00,88657000000.00,72193000000.00,67486000000.00
Short Long Term Debt,3249000000.00,8072000000.00,8051000000.00,5387000000.00
Other Stockholder Equity,1283000000.00,1822000000.00,1462000000.00,3367000000.00
Property Plant Equipment,75347000000.00,70803000000.00,65618000000.00,62035000000.00
Total Current Assets,174326000000.00,184406000000.00,165614000000.00,173973000000.00
Long Term Investments,6393000000.00,5984000000.00,5395000000.00,3794000000.00
Net Tangible Assets,93729000000.00,84477000000.00,76680000000.00,79462000000.00
Short Term Investments,111419000000.00,116032000000.00,111311000000.00,117557000000.00
Net Receivables,27349000000.00,38043000000.00,26322000000.00,27312000000.00
Long Term Debt,50039000000.00,50074000000.00,50007000000.00,55136000000.00
Inventory,3411000000.00,2636000000.00,2245000000.00,1924000000.00
Accounts Payable,14832000000.00,15163000000.00,13412000000.00,12770000000.00
Deferred Long Term Asset Charges,NaN,7181000000.00,NaN,NaN

In [13]:
# show cashflow
msft.cashflow
msft.quarterly_cashflow

,2021-09-30,2021-06-30,2021-03-31,2020-12-31
Investments,4183000000.00,-4334000000.00,2517000000.00,2593000000.00
Change To Liabilities,-3356000000.00,13014000000.00,360000000.00,-3194000000.00
Total Cashflows From Investing Activities,-3250000000.00,-10853000000.00,-9684000000.00,-1669000000.00
Net Borrowings,-4826000000.00,-4826000000.00,-500000000.00,-3250000000.00
Total Cash From Financing Activities,-16276000000.00,-11371000000.00,-13192000000.00,-13634000000.00
Change To Operating Activities,-3551000000.00,799000000.00,1305000000.00,1879000000.00
Issuance Of Stock,612000000.00,450000000.00,396000000.00,302000000.00
Net Income,20505000000.00,16458000000.00,15457000000.00,15463000000.00
Change In Cash,4941000000.00,522000000.00,-730000000.00,-2773000000.00
Repurchase Of Stock,-7684000000.00,-7177000000.00,-6930000000.00,-6535000000.00
Effect Of Exchange Rate,-73000000.00,36000000.00,-33000000.00,14000000.00
Total Cash From Operating Activities,24540000000.00,22710000000.00,22179000000.00,12516000000.00
Depreciation,3212000000.00,2558000000.00,2936000000.00,2761000000.00
Other Cashflows From Investing Activities,-417000000.00,434000000.00,400000000.00,327000000.00
Dividends Paid,-4206000000.00,-4214000000.00,-4221000000.00,-4230000000.00
Change To Inventory,-777000000.00,-388000000.00,-329000000.00,788000000.00
Change To Account Receivables,10486000000.00,-11606000000.00,290000000.00,-4008000000.00
Other Cashflows From Financing Activities,-172000000.00,-430000000.00,-1937000000.00,79000000.00
Change To Netincome,-4632000000.00,1907000000.00,1086000000.00,1195000000.00
Capital Expenditures,-5810000000.00,-6452000000.00,-5089000000.00,-4174000000.00

In [14]:
# show earnings
msft.earnings
msft.quarterly_earnings

             Revenue     Earnings
Quarter
4Q2020   43076000000  15463000000
1Q2021   41706000000  15457000000
2Q2021   46152000000  16458000000
3Q2021   45317000000  20505000000

In [15]:
# show sustainability
msft.sustainability

                                     Value
2021-9
palmOil                              False
controversialWeapons                 False
gambling                             False
socialScore                           8.06
nuclear                              False
furLeather                           False
alcoholic                            False
gmo                                  False
catholic                             False
socialPercentile                      None
peerCount                               99
governanceScore                       4.73
environmentPercentile                 None
animalTesting                        False
tobacco                              False
totalEsg                             13.26
highestControversy                       3
esgPerformance                  UNDER_PERF
coal                                 False
pesticides                           False
adult                                False
percentile                            5.64
peerGroup              Software & Services
smallArms                            False
environmentScore                      0.46
governancePercentile                  None
militaryContract                     False

In [16]:

# show analysts recommendations
msft.recommendations

                               Firm       To Grade From Grade Action
Date
2012-03-16 08:19:00  Argus Research            Buy                up
2012-03-19 14:00:00  Hilliard Lyons  Long-Term Buy              main
2012-03-22 07:03:00  Morgan Stanley     Overweight              main
2012-04-03 11:53:00             UBS            Buy              main
2012-04-20 06:18:00   Deutsche Bank            Buy              main
...                             ...            ...        ...    ...
2021-10-28 14:55:44       Citigroup            Buy              main
2021-11-02 09:45:19   Deutsche Bank            Buy              init
2021-12-22 10:02:34      SMBC Nikko     Outperform              init
2022-01-03 20:23:48       Citigroup            Buy              main
2022-01-03 20:23:49         Keybanc     Overweight              main

[361 rows x 4 columns]

In [17]:

# show next event (earnings, etc)
msft.calendar

                                Value
Earnings Date     2022-01-25 21:00:00
Earnings Average                 2.31
Earnings Low                     2.27
Earnings High                    2.46
Revenue Average           50876600000
Revenue Low               50536700000
Revenue High              51800000000

In [18]:
# show ISIN code - *experimental*
# ISIN = International Securities Identification Number
msft.isin

'US5949181045'

In [19]:
# show options expirations
msft.options

('2022-01-21',
 '2022-01-28',
 '2022-02-04',
 '2022-02-11',
 '2022-02-18',
 '2022-02-25',
 '2022-03-04',
 '2022-03-18',
 '2022-04-14',
 '2022-05-20',
 '2022-06-17',
 '2022-07-15',
 '2022-08-19',
 '2022-09-16',
 '2023-01-20',
 '2023-03-17',
 '2023-06-16',
 '2024-01-19')

In [20]:
# show news
msft.news

[{'uuid': '29b90dba-5caf-3ca5-a31a-eb441c0469d7',
  'title': '10 Best Dividend Stocks According to Thomas Steyerâ€™s Farallon Capital',
  'publisher': 'Insider Monkey',
  'link': 'https://finance.yahoo.com/news/10-best-dividend-stocks-according-170859058.html',
  'providerPublishTime': 1642698539,
  'type': 'STORY'},
 {'uuid': 'ad7233ce-d8c1-4ef9-9001-c77df9e4f887',
  'title': "Microsoft 'pulled up a megayacht' for Activision Blizzard employees",
  'publisher': 'Yahoo Finance',
  'link': 'https://finance.yahoo.com/news/microsoft-pulled-up-a-megayacht-for-activision-blizzard-employees-170159429.html',
  'providerPublishTime': 1642698119,
  'type': 'STORY'},
 {'uuid': '33af63d4-4cdc-3f78-bc60-738a772c4810',
  'title': 'Microsoftâ€™s Earnings Are Next Week. The Street Is Upbeat.',
  'publisher': 'Barrons.com',
  'link': 'https://finance.yahoo.com/m/33af63d4-4cdc-3f78-bc60-738a772c4810/microsoft%E2%80%99s-earnings-are-next.html',
  'providerPublishTime': 1642696860,
  'type': 'STORY'},
 {'uuid': '08561c49-1aed-38af-b580-d344931bf917',
  'title': 'Is Roblox Stock A Buy Right Now After Reporting Key November Metrics?',
  'publisher': "Investor's Business Daily",
  'link': 'https://finance.yahoo.com/m/08561c49-1aed-38af-b580-d344931bf917/is-roblox-stock-a-buy-right.html',
  'providerPublishTime': 1642696428,
  'type': 'STORY'},
 {'uuid': '78bfbc2d-ebdf-3ab7-9fa3-efb7319ff42f',
  'title': 'What the Microsoft-Activision mega deal means for Big Tech regulation',
  'publisher': 'Yahoo Finance Video',
  'link': 'https://finance.yahoo.com/video/microsoft-activision-mega-deal-means-151757864.html',
  'providerPublishTime': 1642691877,
  'type': 'VIDEO'},
 {'uuid': '1a014f1b-1379-35e0-b021-fc408f0d1e06',
  'title': 'Google Team That Keeps Services Online Rocked by Mental Health Crisis',
  'publisher': 'Bloomberg',
  'link': 'https://finance.yahoo.com/news/google-team-keeps-services-online-150011900.html',
  'providerPublishTime': 1642690811,
  'type': 'STORY'},
 {'uuid': '423fd292-3c76-31cc-80dd-8e7efc24e968',
  'title': 'This Is the Best Thing to Happen to Activision',
  'publisher': 'Motley Fool',
  'link': 'https://finance.yahoo.com/m/423fd292-3c76-31cc-80dd-8e7efc24e968/this-is-the-best-thing-to.html',
  'providerPublishTime': 1642690800,
  'type': 'STORY'},
 {'uuid': 'b4f48e55-bd45-37ef-a853-fb3d9bc4181e',
  'title': 'Tech continued to lead US office leasing activity in 2021 but vacancy remains elevated',
  'publisher': 'American City Business Journals',
  'link': 'https://finance.yahoo.com/m/b4f48e55-bd45-37ef-a853-fb3d9bc4181e/tech-continued-to-lead-us.html',
  'providerPublishTime': 1642690230,
  'type': 'STORY'}]